@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  min-height: 100vh;  /* 100% van de viewport hoogte */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Verdeelt de ruimte tussen en rondom content */
}

#content {
  flex: 1;  /* Flexibele container die alle beschikbare ruimte opneemt */
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;  /* Zorgt ervoor dat de footer niet krimpt */
}

.container {
  max-width: 1200px;
  margin: auto;
}

.nav-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  flex: 0 1 calc(25% - 20px);
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.nav-card-link {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-card-link:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .nav-cards {
      flex-direction: column;
  }
  
  .card {
      flex-basis: 100%;
  }
}

/* Overige stijlen */

.action-buttons button {
  margin-right: 10px;
}

/* Stijlen voor de kalenderkaarten */
.card {
  margin-bottom: 1rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  padding: 1.25rem;
}

.card .btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
}

.card .btn-outline-primary:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Aanpassingen voor de actieknoppen */
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 0.8;
}

/* Kaartstijlen voor divisies */
.division-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

.division-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Knopstijlen */
.btn-primary, .btn-secondary {
  border-radius: 50px; /* Ronde pill-knoppen */
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(1.05); /* Licht vergroten bij hover */
  opacity: 0.9;
}

/*home stijl */

/* Navigation card styling */
.nav-flex-column .nav-card-link {
  display: block;
  padding: 20px;
  background-color: #ffffff;
  color: #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
}

.nav-flex-column .nav-card-link:hover {
  background-color: #f8f9fa;
  color: #0056b3;
  transition: background-color 0.3s ease;
}

/* Content section styling */
.container-fluid {
  padding-top: 20px;
}

.text-justify {
  text-align: justify;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

h1.text-center {
  color: #007bff;
  margin-bottom: 25px;
}

/* Player Card CSS */
.player-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.player-card-header {
  /* background: url('/path/to/your/background-image.png') no-repeat center center; */
  /* background-size: cover; */
  color: #000000;
  text-align: center;
  padding: 20px;
}

.player-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -60px; /* Adjust as needed to fit the design */
}

.player-name {
  margin-top: 10px;
  font-size: 1.5em;
}

.player-nickname {
  font-size: 1em;
  color: #ffd700; /* Or any other color */
}

.player-card-body {
  padding: 20px;
}

.player-details,
.player-stats {
  margin-bottom: 10px;
}

/* Style for link to the team page */
.player-card a {
  color: #007bff;
  text-decoration: none;
}

.player-card a:hover {
  text-decoration: underline;
}


/* CSS for video container and video */

.nav-cards, .video-container {
  flex-grow: 1; /* Laat de secties groeien en de beschikbare ruimte vullen */
  overflow: auto; /* Voegt scroll toe binnen de sectie als de inhoud groter is dan de sectie */
}

.video-container {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff; /* White background */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
  text-align: center;
}

.home-video {
  width: 100%; /* Responsive video width */
  border-radius: 15px; /* Rounded corners for the video */
  outline: none; /* Remove focus outline */
}


/* footer stijl */

/* Footer styling */
.footer {
  margin-top: auto;  /* Duwt automatisch de footer naar beneden */
  background: #eaeaea;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-logo {
  max-width: 100px; /* Pas de grootte aan naar wens */
}

.footer-text {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.footer-text a {
  color: #007bff;
}

.footer-text a:hover {
  text-decoration: none;
  color: #0056b3;
}

.player-avatar {
  width: 100px;  /* of elke andere grootte */
  height: 100px; /* moet hetzelfde zijn als de breedte voor een cirkel */
  border-radius: 50%; /* maakt de afbeelding cirkelvormig */
  object-fit: cover; /* zorgt ervoor dat de afbeelding goed past zonder te vervormen */
}



/* De switch - de doos rond de slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Verberg standaard checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   
  /* De slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Afgeronde sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .vr {
    border-left: 1px solid #ddd;
    height: 40px;
}


  /* Basis Night Mode stijlen */

/* Schakelaar voor donkere modus */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Iconen */
.fa-sun, .fa-moon {
  padding: 0 5px;
}

.navbar-text {
  display: flex;
  align-items: center;
}



body.night-mode {
  background-color: #333;
  color: #ccc;
}

body.night-mode .navbar,
body.night-mode .footer {
  background-color: #222;
  color: #fff;
}

body.night-mode .card {
  background-color: #424242;
  color: #fff;
}

body.night-mode a {
  color: #9cf;
}

body.night-mode .btn-primary {
  background-color: #666;
  border-color: #666;
}

body.night-mode .btn-primary:hover {
  background-color: #555;
  border-color: #555;
}

body.night-mode .text-justify{
  color: #fff;
}

  