@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #f8f9fa;
  --header-background: #ffffff;
  --header-text-color: #000000;
  --button-background: #007bff;
  --button-text-color: #ffffff;
  --navbar-background: #ffffff;
  --navbar-text-color: #000000;
  --table-header-background: #f8f9fa;
  --table-row-background: #ffffff;
  --table-row-text-color: #000000;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.nav-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  flex: 0 1 calc(25% - 20px);
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  /* Verwijder de transition eigenschap om beweging bij hover te voorkomen */
}

.nav-card-link {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-cards {
      flex-direction: column;
  }
  
  .card {
      flex-basis: 100%;
  }
}

.action-buttons button {
  margin-right: 10px;
}

.card {
  margin-bottom: 1rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  padding: 1.25rem;
}

.card .btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
}

.card .btn-outline-primary:hover {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
  color: #fff;
  text-decoration: none;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 20px;
  padding: 0.375rem 0.75rem;
  color: #fff;
  text-decoration: none;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 0.8;
}

.division-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

.btn-primary, .btn-secondary {
  border-radius: 50px;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.nav-flex-column .nav-card-link {
  display: block;
  padding: 20px;
  background-color: #ffffff;
  color: var(--link-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
}

.nav-flex-column .nav-card-link:hover {
  background-color: #f8f9fa;
  color: var(--link-hover-color);
  transition: background-color 0.3s ease;
}

.container-fluid {
  padding-top: 20px;
}

.text-justify {
  text-align: justify;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

h1.text-center {
  color: #007bff;
  margin-bottom: 25px;
}

.player-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.player-card-header {
  color: #000000;
  text-align: center;
  padding: 20px;
}

.player-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -60px;
}

.player-name {
  margin-top: 10px;
  font-size: 1.5em;
}

.player-nickname {
  font-size: 1em;
  color: #ffd700;
}

.player-card-body {
  padding: 20px;
}

.player-details,
.player-stats {
  margin-bottom: 10px;
}

.player-card a {
  color: var(--link-color);
  text-decoration: none;
}

.player-card a:hover {
  text-decoration: underline;
}

.nav-cards, .video-container {
  flex-grow: 1;
  overflow: auto;
}

.video-container {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.home-video {
  width: 100%;
  border-radius: 15px;
  outline: none;
}

.footer {
  margin-top: auto;
  background: #eaeaea;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-logo {
 width: 200px;
}

.footer-text {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.footer-text a {
  color: var(--link-color);
}

.footer-text a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.player-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  background-color: var(--card-background);
}

.card-header {
  background-color: var(--header-background);
  color: var(--header-text-color);
}

.btn {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

.navbar {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
}

.table th {
  background-color: var(--table-header-background);
  color: var(--table-row-text-color);
}

.table td {
  background-color: var(--table-row-background);
  color: var(--table-row-text-color);
}

/* Dark mode styles */
body.night-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --card-background: #1e1e1e;
  --header-background: #1f1f1f;
  --header-text-color: #e0e0e0;
  --button-background: #375a7f;
  --button-text-color: #e0e0e0;
  --navbar-background: #222;
  --navbar-text-color: #e0e0e0;
  --table-header-background: #333;
  --table-row-background: #444;
  --table-row-text-color: #e0e0e0;
  --link-color: #1e90ff;
  --link-hover-color: #1c86ee;
}

body.night-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.night-mode .card {
  background-color: var(--card-background);
}

body.night-mode .card-header {
  background-color: var(--header-background);
  color: var(--header-text-color);
}

body.night-mode .btn {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

body.night-mode .navbar {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
}

body.night-mode .table th {
  background-color: var(--table-header-background);
  color: var(--table-row-text-color);
}

body.night-mode .table td {
  background-color: var(--table-row-background);
  color: var(--table-row-text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Ensure highlighted row stands out */
.highlight-row {
    background-color: #28a745 !important;
    color: white !important;
}

/* Knoppen container stijl */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centreert de knoppen horizontaal */
  gap: 15px; /* Ruimte tussen de knoppen */
  margin-top: 20px;
}

/* Gestylede en geanimeerde knoppen */
.animated-btn {
  background-color: #007bff;
  color: #000000; /* Donkere tekstkleur */
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  transition: transform 0.2s, background-color 0.2s;
}

.animated-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  color: #ffffff; /* Witte tekstkleur bij hover */
}